
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@537&family=Poppins:wght@400;600&family=Roboto:wght@700&display=swap');

body {
  font-family: "Roboto", serif;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
}
